/* row 1 */

.item.hover#item10 {
  background-color: red;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.item.hover#item11 {
  background-color: red;
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}

.item.hover#item12 {
  background-color: red;
  grid-column: 3 / 5;
  grid-row: 1 / 3;
}

.item.hover#item13 {
  background-color: red;
  grid-column: 4 / 6;
  grid-row: 1 / 3;
}

.item.hover#item14 {
  background-color: red;
  grid-column: 5 / spa;
  grid-row: 1 / 3;
}

/* row 2 */

.item.hover#item15 {
  background-color: red;
  grid-column: 1 / 3;
  grid-row: 3 / 1;
}

.item.hover#item16 {
  background-color: red;
  grid-column: 3 / 5;
  grid-row: 3 / 1;
}

.item.hover#item17 {
  background-color: red;
  grid-column: 4 / 6;
  grid-row: 3 / 1;
}

.item.hover#item18 {
  background-color: red;
  grid-column: 5 / spa;
  grid-row: 3 / 1;
}
