.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  height: 50vh;
  grid-auto-flow: row dense;
  text-align: center;
}

img {
  width: 100%;
  height: auto;
}

.item {
  background-color: #eee;
  border: #fff solid 1px;
  overflow: hidden;
  cursor: pointer;
  animation-name: shift;
  animation-duration: 1s;
}

@keyframes shift {
  0%{
    transform: translate(0px, 0px);
  }
  50%{
    transform: translate(-50px);
  }
  100%{
    transform: translate(0px, 0px);
  }

}