.container {
    display: grid;
    grid-template-columns:repeat(5, 1fr);
    height: 100vh;
}

@keyframes transform {
    from { 
        background-color: #eee;
    }
    to { 
        background-color: red;
        grid-column-end: span 2;
        grid-row-end: span 2;
    }
}

.item {
    background-color: #eee;
    border: #fff solid 1px;
}



/* .item:hover {
    cursor: pointer;
    animation-name: transform;
    animation-duration: 1s;    
} */

